
.btn-all {
    /*background-color:#ED6400 ;*/
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-all span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-all:before{
    height: 0%;
    width: 2px;
}

.btn-all:after {
    width: 0%;
    height: 2px;
}

.btn-all:hover{
    color: #6F0082;
    background: transparent;
}

.btn-all:hover:before {
    height: 100%;
}

.btn-all:hover:after {
    width: 23%;
}

.btn-all span:before {
    width: 2px;
    height: 0%;
}
.btn-all span:after {
    height: 2px;
    width: 0%;
}
.btn-all span:hover:before {
    height: 100%;
}
.btn-all span:hover:after {
    width: 100%;
}

/*cancel button*/

.cancelBtn-color{
    background-color: #ED6400;
}

.btn-cancel span:before,
.btn-cancel span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #ED6400;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-cancel:before,
.btn-cancel:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 315px;
    bottom: 0;
    background-color:#ED6400;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-cancel:hover:after {
    width: 22.6%;
}


/*purchase*/

.btn-purchase:before,
.btn-purchase:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 162px;
    bottom: 0;
    background-color:#03A100;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-purchase span:before,
.btn-purchase span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #03A100;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-purchase:hover:after {
    width: 22.6%;
}

.purchaseBtn-color{
    background-color: #03A100;
}

/*addToCart*/

.btn-addToCart span:before,
.btn-addToCart span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #6F0082;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-addToCart:before,
.btn-addToCart:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color:#6F0082;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-addToCart:hover:after {
    width: 100%;
}

.addToCartBtn-color{
    background-color: #6F0082;
}

/*dashboard button*/

/*update button*/
.btn-update span:before,
.btn-update span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #fcba03;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-update:before,
.btn-update:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 123px;
    bottom: 0;
    background-color:#fcba03;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-update:hover:after {
    width: 45%;
}

.updateBtn-color{
    background-color: #fcba03;
}

/*remove button*/
.btn-remove span:before,
.btn-remove span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #e82902;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-remove:before,
.btn-remove:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 8px;
    bottom: 0;
    background-color:#e82902;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-remove:hover:after {
    width: 45.5%;
}

.removeBtn-color{
    background-color: #e82902;
}

/*customer manage update*/
.btn-update-customer span:before,
.btn-update-customer span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #fcba03;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-update-customer:before,
.btn-update-customer:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 348px;
    bottom: 0;
    background-color:#fcba03;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-update-customer:hover:after {
    width: 18.3%;
}

.btn-Store:hover:after {
    width: 25.3%;
}

.updateBtn-color{
    background-color: #fcba03;
}

/*customer new button*/
.btn-new:before,
.btn-new:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 478px;
    bottom: 0;
    background-color:#03A100;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-new span:before,
.btn-new span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #03A100;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.newBtn-color{
    background-color: #03A100;
}

.btn-new:hover:after {
    /*width: 18.3%;*/
}

/*customer remove*/
/*remove button*/
.btn-remove-customer span:before,
.btn-remove-customer span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #e82902;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-remove-customer:before,
.btn-remove-customer:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 220px;
    bottom: 0;
    background-color:#e82902;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-remove-customer:hover:after {
    width: 18.3%;
}

.removeBtn-color{
    background-color: #e82902;
}


/*store crud button*/
.btn-update-store span:before,
.btn-update-store span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #fcba03;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-update-store:before,
.btn-update-store:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 145px;
    bottom: 0;
    background-color:#fcba03;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-update-store:hover:after {
    width: 28.3%;
}

/*remove button*/
.btn-remove-store span:before,
.btn-remove-store span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top:0;
    background-color: #e82902;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-remove-store:before,
.btn-remove-store:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 15px;
    bottom: 0;
    background-color:#e82902;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-remove-store:hover:after {
    width: 28%;
}

.removeBtn-color{
    background-color: #e82902;
}

/*new button*/
.btn-new-store:before,
.btn-new-store:after {

    /*right-bottom border color*/
    position: absolute;
    content: "";
    right: 272px;
    bottom: 0;
    background-color:#03A100;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-new-store span:before,
.btn-new-store span:after {
    /*top-left border color*/
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #03A100;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.newBtn-color{
    background-color: #03A100;
}

.btn-new-store:hover:after {
    width: 28.6%;
}