.newButton{
    background-color: #03A100;
    margin-right: 15px;
    width: 110px;
}

.updateButton{
    margin-right: 15px;
    width: 110px;
}

.removeButton{
    width: 110px;
}

.whiteTextColor{
    -webkit-text-fill-color: white;
}

.noBorder{
    border: 0;
}

.relativePosition{
    position: relative;
}

.absolutePosition{
    position: absolute;
}

#crudButton{
    top: 108px;
    left: 124px;

    width:600px;
}

/*customer table*/

.viewCustomerTitle{
    position: relative;
    top: 151px;
    left: 66rem;

    width: fit-content;
}

.customerTable{
    position: relative;
    top: 198px;

    margin: auto;
    width: 82vw;
}

/*modal*/

.margin-bottom{
    margin-bottom: 10px;
}

.saveChanges{
    background-color: #590067;
    border: 0;
}

.close{
    background-color: #ED6400;
    border: 0;
}