.headerPosition{
    position: relative;
    left: 278px;
    top: 15px;
}

.profile{
    width: 78px;
    height: 75px;

    border-radius: 100%;
    /*border: 5px solid darkblue;*/
    margin: 0;
    padding: 0;

    position: relative;
    top: -15px;
    left: 322px;
}

.card{
    width: 320px;
    height: 178px;
    background-color: white;
    margin: auto;
    border: 0;
    margin-bottom: 5px;
}

.cardText{
    text-align: center;
    -webkit-text-fill-color: purple;
    margin: 25px;
}

/*card animation*/

.card-container, .front, .back {
    width: 20rem;
    height: 10rem;
}

.back {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);

    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.back {
    background-image: linear-gradient(to right bottom, #590067, #590067);
    width: 322px;
    height: 162px;

    font-size: 22px;
    -webkit-text-fill-color: white;
    font-weight: normal;
    text-align: center;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform .8s ease;
}
.back {
    transform: rotateY(180deg);
}
.card-container:hover .front {
    transform: rotateY(-180deg);
}
.card-container:hover .back {
    transform: rotateY(0deg);
}

.card-container {
    perspective: 75rem;
}

/*Search bar*/
.searchBarParent{
    position: relative;
    width: 95vw;
    margin: 0;
}

#searchBar{
    width: 81vw;
    height: 50px;

    position: absolute;
    left: 10%;
    top: 20px;
}

#searchInputField{
    border-radius: 200px 0 0 200px;
}

.searchBtn{
    border-radius: 200px;
    width: 150px;
    background-color: purple;
    -webkit-text-fill-color: white;
    border: 0;
}

.OrderTitle{
    position: absolute;
    top: 78px;
    left: 49px;
}

.OrderTableHead{
    background-color: #590067 !important;
    -webkit-text-fill-color: white;
}

.orderTableBody{
    background-color: #FBDFFF!important;
    -webkit-text-fill-color: black;
}

.orderDetailTable{
    position: relative;
    top: 72px;
    margin: auto;

    width: 89vw;
}

.tableDiv{
    max-height: 240px; /* Set the maximum height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
}

.tableDiv{
    table-layout: fixed; /* Prevent the table from resizing its columns */
    white-space: nowrap; /* Prevent text wrapping */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: scroll;
}

#viewOrderBtnParent{
    position: relative;
    top: 78px;
    left: 66px;
    width: fit-content;
}

#mainDivF{
    width: 100vw;
    height: 65vh;
    margin: 0;
    background-color: #3A0044;

    position: relative;
    top: 98px;
}

#aboutUs{
    -webkit-text-fill-color: white;
    position: absolute;
    top: 2%;
    left: 42%;
}

#fDiv1{
    -webkit-text-fill-color: white;
    position: absolute;
    top: 25%;
    left: 15%;
}

#fDiv2{
    -webkit-text-fill-color: white;
    position: absolute;
    top: 25%;
    left: 45%;
}

#fDiv3{
    -webkit-text-fill-color: white;
    position: absolute;
    top: 25%;
    left: 72%;

    width: fit-content;
}

#allRights{
    position: absolute;
    top: 90%;
    left: 39%;
    -webkit-text-fill-color: white;
}

#groStore{
    position: absolute;
    top: 84.5%;
    left: 75%;
    -webkit-text-fill-color: white;

    font-size: 35px;
}

#socialMedia{
    position: absolute;
    top: 84%;
    left: 12%;
}

#facebook{
    width: 55px;
    aspect-ratio: 1/1;

    position: relative;
}

#instagram{
    width: 40px;
    aspect-ratio: 1/1;

    position: relative;
    left: 10px;
}

#whatsapp{
    width: 39px;
    aspect-ratio: 1/1;

    position: relative;
    left: 28px;
}

.margin{
    margin: 0;
}

.padding{
    padding: 0;
}

.position{
    position: relative;
}

#d1{
    position: absolute;
    width: fit-content;
}

.viewWidth{
    width: 98vw;
    height: 8vh;
}

section p{
    margin: 0;
}

.padding{
    padding: 0!important;
}

@media only screen and (max-width: 568px) {

    /*  Header    */

    .headerPosition{
        position: relative;
        left: 10px;
        top: 60px;
    }

    .profile{
        width: 150px;
        height: 150px;

        border-radius: 100%;
        /*border: 5px solid darkblue;*/
        margin: 8px;
        padding: 0;

        position: relative;
        top: -180px;
        left: 190px;
    }

    /*    footer    */
    #mainDivF{
        width: 100vw;
        height: 65vh;
        margin: 0;
        background-color: #3A0044;

        position: relative;
        top: 98px;
    }

    #aboutUs{
        -webkit-text-fill-color: white;
        position: absolute;
        top: 2%;
        left: 37%;
    }

    #fDiv1{
        -webkit-text-fill-color: white;
        position: absolute;
        top: 25%;
        left: 3%;
    }

    #fDiv2{
        -webkit-text-fill-color: white;
        position: absolute;
        top: 25%;
        left: 30%;
    }

    #fDiv3{
        -webkit-text-fill-color: white;
        position: absolute;
        top: 25%;
        left: 58%;

        width: fit-content;
    }

    #allRights{
        position: absolute;
        top: 93%;
        left: 25%;
        -webkit-text-fill-color: white;
        font-size: 15px;
    }

    #groStore{
        position: absolute;
        top: 80%;
        left: 75%;
        -webkit-text-fill-color: white;

        font-size: 25px;
    }

    #socialMedia{
        position: absolute;
        top: 80%;
        left: 3%;
    }

    #facebook{
        width: 37px;
        aspect-ratio: 1/1;

        position: relative;
    }

    #instagram{
        width: 25px;
        aspect-ratio: 1/1;

        position: relative;
        left: 10px;
    }

    #whatsapp{
        width: 24px;
        aspect-ratio: 1/1;

        position: relative;
        left: 28px;
    }

    /*  order Table Button  */

    .OrderTitle{
        position: absolute;
        top: 89px;
        left: 15px;
    }

    .titleSmallSize{
        font-size: 15px;
    }

    #viewOrderBtnParent{
        position: relative;
        top: 84px;
        left: 20px;
        width: fit-content;
    }
}

