@import 'https://fonts.googleapis.com/css?family=Raleway';

#imageParent{
    width: 45vw;
    height: 545px;
}

.loginImage{
    width: 40vw;
    height: 100vh;
    margin-bottom: 0;
}

#text{
    -webkit-text-fill-color: white;
    font-weight: bold;

    position: relative;
    bottom: 23rem;
    left: -2.5rem;

    opacity: 100%;
}

#signUpParent{
    position: relative;
    top: 1rem;
    left: 37rem;

    width: 100px;
}

#signUp{
    text-align: right;
    -webkit-text-fill-color: #590067;

    position: absolute;
    left: 0;
    top: 0;
    padding-right: 8px;

    font: 15px Raleway;
}

#logoParent{
    width: 20rem;
    aspect-ratio: 1/1;

    position: absolute;
    top: 3rem;
    left: 17vw;
}

#logo{
    width: 130px;
    aspect-ratio: 1/1;

    border-radius: 100px;
    border:2px solid #590067;
}

#parent{
    width: 1358px;
    height: 574px;
}

#position{
    position: relative;
    top: -36rem;
    left: 41rem;
}

#loginLabel{
    position: absolute;
    top: 13rem;
    left: 16rem;
    font: 15px Raleway;
}

#username{
    position: absolute;
    top: 17rem;
    left: 10px;
    font: 15px Raleway;
}

#password{
    position: absolute;
    top: 23rem;
    left: 10px;
    font: 15px Raleway;
}

#forgetPassword{
    position: absolute;
    top: 28rem;
    right: 103px;
    font: 15px Raleway;
}

#labelForgetPassword{
    -webkit-text-fill-color: black;
}

#loginBtnParent{
    position: absolute;
    top: 32rem;
    left: 15rem;
}

#loginBtn{
    background-color: #590067;
    -webkit-text-fill-color: white;
    width: 150px;

    border: 0;
    font: 20px Raleway;
}

@-webkit-keyframes rise {
    0% {padding-top: 100%;}
    60% {padding-top: 7%;}
    80% {padding-top: 7%; border-bottom: 0px solid #fff; opacity: 0.5; text-shadow: 2px 2px 5px #fff;}
    100% {padding-top: 7%; border-bottom: 0.35em solid #fff; opacity: 1; text-shadow: 0;}
}

@keyframes rise {
    0% {padding-top: 100%;}
    60% {padding-top: 7%;}
    80% {padding-top: 7%; border-bottom: 0px solid #fff; opacity: 0.5; text-shadow: 2px 2px 200px rgba(255, 255, 255, 1);}
    100% {padding-top: 7%; border-bottom: 0.12em solid  #fff;opacity: 1; text-shadow: 200px 200px 200px rgba(255, 255, 255, 0);}
}


.rise-text {
    position: relative;
    text-align: center;
    margin: auto;
    opacity: 0;
    padding-top: 100%;
    color: #fff;
    border-bottom: 0;
    text-shadow: 2px 2px 5px #fff;
    font-family: Trebuchet MS, sans-serif;
    font-size: 2em;
    font-weight: normal;
    -webkit-animation-name: rise;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 0.25, 0.55, 1);
    -webkit-animaiton-fill-mode: forwards;
    animation-name: rise;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 0.25, 0.55, 1);
    animation-fill-mode: forwards;
}