#imageParent{
    width: 45vw;
    height: 545px;
}

.loginImage{
    width: 40vw;
    height: 97.2vh;
    margin-bottom: 0;
}

#text{
    -webkit-text-fill-color: white;
    font-weight: bold;

    position: relative;
    bottom: 21rem;
    left: 7.5rem;

    opacity: 100%;
}

#signUpParent{
    position: relative;
    top: -33rem;
    left: 40rem;
}

#signUp{
    text-align: right;
    -webkit-text-fill-color: #590067;

    position: absolute;
    left: 37rem;
    top: 10px;
    padding-right: 8px;
}

#logoParent{
    width: 20rem;
    aspect-ratio: 1/1;

    position: absolute;
    top: 5rem;
    left: 66vw;
}

#logo{
    width: 100px;
    aspect-ratio: 1/1;

    border-radius: 100px;
    border:2px solid #590067;
}