@import 'https://fonts.googleapis.com/css?family=Raleway';

.fonts{
    font-family: Raleway;
}

.titleOrder{
    position: absolute;
    top: 22%;
}

#line1{
    background-color: gray;
    width: 29rem;
    height: 1px;

    opacity: 50%;

    position: relative;
    top: -20px;
    left: 158px;
}

#line2{
    background-color: gray;
    width: 45rem;
    height: 1px;

    transform: rotate(90deg);

    opacity: 50%;

    position: relative;
    left: 21rem;
    top: -19rem;
}

.margin-bottom{
    margin-bottom: 20px;
}

.marginZero{
    margin: 0;
}

.inputFieldMargin{
    margin-left: 27px;
}

.placeOrderForm{
    padding: 50px;
}

#addToCartBtn{
    position: absolute;
    right: 53.9%;
    border: 0;
    margin-top: 15px;

}

/*Billing Section*/

.itemsDetails{
    /*width: 612px;*/
    margin: 40px;

    position: relative;
    top: 7rem;
}

.itemsDetails{
    max-height: 340px; /* Set the maximum height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
}

.itemsDetails{
    table-layout: fixed; /* Prevent the table from resizing its columns */
    white-space: nowrap; /* Prevent text wrapping */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: scroll;
}

#itemPriceListMainDiv{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 38px;
}

.prices{
    text-align: right;
}

.titleBill{
    left: 38%;
    -webkit-text-fill-color: #590067;
}

#pricesMainDiv{
    position: relative;
    top: 6rem;
}

#bill{
    position: absolute;
    left: 50%;
    top: 25%;
}

.billPricesLabel{
    width: fit-content;

    position: absolute;
    top: 0;
    left: 40px;
}

.billPrices{
    position: absolute;
    right: 0;
}

.pricesContentPosition{
    padding-right: 50px;
}

#billBtn{
    position: relative;
    top: 14.5rem;
    padding-left: 12rem;
}

.btnSize{
    width: 150px;
}

#cancelBtn{
    /*background-color: #ED6400;*/
    border: 0;
}

#purchaseBtn{
    /*background-color: #03A100;*/
    border: 0;
}

.purpleTextColor{
    /*-webkit-text-fill-color: #590067;*/
    border: 0;
}